*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: "cairo",sans-serif;
    box-sizing: border-box;
}

/* header */
header{
    color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
    z-index: 20;
    background-color: #ffffff;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    width: 80%;
    margin-inline: auto;

}
header .logo{
    font-size:26px ;
    font-weight:bold ;
    height: 72px;
    color: rgb(61, 63, 199);
    display: flex;
    align-items: center;
    justify-content: center;
}
header .main-nav{
    display: flex;
    position: relative;
}
.in-nav1 ul{
    position: absolute;
    top: 64px;
    background-color: white;
    border-bottom: 4px solid rgb(58, 61, 221) ;
    border-top: 2px solid #ddd;
    display: none;
    margin-block: 10px;
    left: 97px;
}
.in-nav1 ul a{
    display: flex;
    padding-inline: 15px;
    padding-block: 20px;
    color: rgb(0, 0, 0);
}
.in-nav1 ul a:hover{
    background-color: #fafafa;
    color: rgb(61, 63, 199);
    transition: 0.5s;
}
.in-nav1:hover>ul{
    display: block;
    z-index: 10;
}
header .main-nav > li > a{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    padding: 0 30px;
    transition: 0.3s;
}

header .drop-down{
    font-size:20px ;
    font-weight:bold ;
    height: 72px;
    color: rgb(155, 127, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    position: relative;
}
header .main-nav > li > a:hover{
    background-color: #fafafa;
    border-top:4px solid rgb(58, 61, 221) ;
    color: rgb(61, 63, 199);
    transition: 0.3s;
}
header .drop-down ul{
    position: absolute;
    top: 72px;
    background-color: white;
    border-bottom: 4px solid rgb(58, 61, 221);
    max-height: 0;
    overflow: hidden;
}
header .drop-down:hover> ul{
    top: 72px;
    transition: 0.8s;
    max-height: 400px;
    border-top: 2px solid #ddd;
    padding: 10px;
    z-index: 10;
}
header .drop-down ul li a{
    display: flex;
    color: rgb(0,0,0);
    padding-block: 10px;
    font-weight: 400;
}
header .drop-down ul li :hover{
    background-color: #fafafa;
    color: rgb(61, 63, 199);
    transition: 0.5s;
}
@media(max-width: 900px){
    header .drop-down{
        display: flex;

    }
    header .main-nav{
        display: none;
    }
}
    /* header */
    /* Back ground */
.bg{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -50%;
    left: -50%;
    z-index: -5;
    opacity: .5;
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #328f2a3b 50%, #75165565 50%);
}
@keyframes slide{
    0%{
        transform: translateX(-25%);
    }
    100%{
        transform: translateX(25%);
    }
}
.bg2{
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}
.bg3{
    animation-duration: 5s;
}
    /* spiecialites */
.spiecialites .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    margin-inline: auto

}
.m{
    margin: 20px;
    margin-block: 50px;
}
.spiecialites h1{
    text-align: center;
    margin-block: 60px 30px;
    color: #007bff;
}
.sp {
    border-radius: 50%;
    width: 313px;
    height: 272px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 10px 2px;
    padding: 10px;
    transition: 0.3s;
    background-color: #ffffff
}
.sp:hover{
    transform: translateY(-20px);
    transition: .3s;
}
.sp h3{
    margin-block: 10px 10px;
}
.sp p{
    margin-block: 5px 15px;
}
.sp a{
    border: 2px solid black;
    border-radius: 15px;
    padding:5px 10px;
    color: white;
}
.sp a::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.sp:hover a::before{
    display: block;
    transition: .5s;
}
.E{
    border-top: 10px solid  #ff9d00;
}
.E h3{
    color: #ff9d00;
}
.E a{
color: #ff9d00;
    border: 2px solid #ff9d00;
}
.E a:hover{
    color: white;
    background-color: #ff9d00;
    transition: .5s;
}
.F{
    border-top: 10px solid  #167562;
}
.F h3{
    color: #167562;
}
.F a{
    color: #167562;
    border: 2px solid #167562;
}
.F a:hover{
    color: white;
    background-color: #167562;
    transition: .5s;
}
.I{
    border-top: 10px solid  #1e699b;
}
.I h3{
    color: #1e699b;
}
.I a{
    color: #1e699b;
    border: 2px solid #1e699b;
}
.I a:hover{
    color: white;
    background-color: #1e699b;
    transition: .5s;
}
.S{
    border-top: 10px solid  #712a8f;
}
.S h3{
  color: #712a8f;
}
.S a{
    color: #712a8f;
    border: 2px solid #712a8f;
}
.S a:hover{
    color: white;
    background-color: #712a8f;
    transition: .5s;
}
    /* footer */
footer{
    background-color: rgb(65, 59, 59);
}
footer .container{
    display: flex;
    justify-content: space-around;
}
footer .container h3{
    color: #f0f0f0;
    font-weight: 400;
    padding: 10px;
}